.container{
    position:relative;
    width:100%;
    max-width:150px;
    max-height:250px;
    padding:5px;
    margin: 0 auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow:hidden;
}

.poster{
    width:100%;
    max-height:250px;
    object-fit: contain;
}


@media only screen and (min-width: 1024px) {

    .container{
        width:100%;
        max-width:300px;
        max-height:450px;
        padding:5px;
        margin: 0 auto;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        overflow:hidden;
    }
    .poster{
        width:100%;
        max-height:450px;
        object-fit: contain;
    }

}