@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.overlay {
    position: absolute;
    font-family: 'Muli', sans-serif;
    color: black;
    max-width:300px;
    height:100%;
    top:0;
    left:0;
    padding:7px;
    font-size: 12px;
    background:rgba(167, 205, 243, 0.8);
    transition: transform .6s ease-out;
    transform: translateX(-110%);
    overflow-y: auto;
}

.overlay_active{
    transform: translateX(0px);
}

.info{
	display:block;
	position:absolute;
	top:0;
	right:0;
	width:32px;
	height:32px;
	padding:5px;
	z-index:1;
	cursor:pointer;
}

@media only screen and (min-width: 1024px) {

    .overlay{
        font-size: 18px;
    }

}